* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #E5E5E5;
}

.container {
    width: 1180px;
    margin: 0 auto;

}

.containers {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #fff;

    .logo {
        width: 85px;
        display: flex;
        justify-content: center;

    }

    .menu {
        padding: 17px 20px;
        border-left: 1px solid #f4f4f4;
        border-right: 1px solid #f4f4f4;

        ul {
            li {
                list-style: none;

                a {
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90px;
                    font-size: 12px;
                    line-height: 13px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #181818;

                    position: relative;

                    &:hover {
                        &::after {
                            width: 100%;
                            // height: 100;

                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        background: #2bff00;
                        height: 5px;
                        width: 0%;
                        border-radius: 5px;
                        transition: .5s;

                    }




                }

                span {
                    margin-top: 10px;

                }
            }

            &:nth-child(4) {
                a {
                    position: relative;

                    &::before {
                        content: "1";
                        background: linear-gradient(215.49deg, #FFB75E 5.4%, #ED8F03 93.45%);
                        position: absolute;
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        top: -5px;
                        right: 26px;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .search {

        margin-left: 20px;
        display: flex;
        align-items: center;
        width: 367px;

        input {
            width: 100%;
            border: 0;
            padding: 12px 0;
            margin-left: 10px;

            &:focus {
                outline: none;
            }
        }

    }

    .portifol {
        padding: 20px 20px;
        border-left: 1px solid #f4f4f4;
        border-right: 1px solid #f4f4f4;
        width: 330px;
        display: flex;
        align-items: center;

        .img {
            height: 42px;
            width: 42px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }

        }


        .text {
            margin-left: 15px;

            &-name {
                display: flex;
                align-items: center;
                font-size: 12px;
                line-height: 11px;
                text-transform: uppercase;
                margin-bottom: 11px;

                h3 {


                    &:last-child {
                        font-size: 12px;
                        line-height: 11px;
                        text-transform: uppercase;
                        color: rgba(24, 24, 24, 0.2);
                        margin-left: 10px;

                    }
                }
            }

            &-day {
                display: flex;
                align-items: center;

                span {
                    &:first-child {
                        font-size: 12px;
                        line-height: 11px;
                        color: #747474;

                    }

                    &:last-child {
                        font-size: 12px;
                        line-height: 11px;
                        color: #02B033;
                        margin-left: 4px;
                    }
                }
            }
        }

    }

    .other {

        padding: 20px 20px;
        width: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;

    }


}

.info {
    margin-top: 40px;
    display: block;

    .left {
        width: 850px;

        .left1 {
            background: #fff;
            height: 135px;
            padding: 0 30px;

            .new {
                h1 {
                    padding-top: 25px;
                    font-size: 12px;
                    line-height: 11px;
                    text-transform: uppercase;
                }

                div {
                    margin-top: 20px;

                    hr {
                        width: 790px;
                        opacity: .3;
                    }
                }
            }

            .what {
                margin-top: 30px;

                .h1 {
                    font-size: 15px;
                    line-height: 17px;
                    color: rgba(24, 24, 24, 0.2);
                }

                .h2 {
                    span {
                        padding: 0 14px;
                    }

                    .s {
                        opacity: 0.28;
                    }

                    .a {
                        height: 32px;
                        background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                    }
                }

            }
        }

        .tal0 {
            margin-top: 20px !important;
            background: #fff;
        }

        .tal {
            border-radius: 4px;
            margin-top: 20px;
            background: #fff;

            h1 {
                span {
                    color: #000;
                }
            }

            .abo {
                .about {
                    padding: 10px 24px;
                    display: flex;
                    align-items: center;

                    .tex {
                        padding: 10px;

                        h2 {
                            font-size: 14px;
                            line-height: 13px;
                            color: #000;
                        }

                        span {
                            font-size: 10px;
                            line-height: 150%;
                        }
                    }
                }

                .tax {
                    padding: 0 24px;

                    .ttt {
                        margin: 18px 0;
                    }

                    p {
                        background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;



                    }

                    h3 {
                        margin-bottom: 17px;
                        margin-top: 15px;
                        font-size: 12px;
                        line-height: 11px;
                        text-transform: uppercase;
                        color: #0275B1;
                    }

                    h4 {
                        margin: 20px 0;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    img {
                        margin-bottom: 14px;
                    }

                    .ux {
                        display: flex;
                        align-items: center;
                        width: 790px;
                        height: 80px;
                        background: #E9F0F8;
                        border-radius: 4px;
                        padding: 19px;
                        margin-bottom: 29px;

                        .file {
                            width: 42px;
                            height: 42px;
                            background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
                            border-radius: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .texis {
                            padding: 10px;

                            h5 {
                                margin-bottom: 10px;
                            }

                            span {
                                font-size: 10px;
                            }

                        }
                    }


                }


                .past {
                    padding: 0 24px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border: 1px solid #f4f4f4;

                    span {
                        padding: 22px 0;
                        padding-right: 20px;

                        p {
                            display: inline-block;
                            padding-left: 8px;
                        }
                    }

                    .u1 {
                        border-left: 1px solid #f4f4f4;
                        border-right: 1px solid #f4f4f4;
                        padding-left: 30px;
                    }

                    .u {
                        border-left: 1px solid #f4f4f4;
                        padding-left: 30px;
                    }
                }
            }

            h1 {
                padding: 15px;
                font-size: 10px;
                line-height: 150%;
                color: #0275B1;
                border-bottom: 1px solid #f4f4f4;
            }
        }
    }

    .right {
        width: 290px;
        height: 280px;
        background: #fff;

        .rasm {
            .foto1 {
                position: relative;
                height: 190px;

                img {
                    width: 100%;

                }

                .foto2 {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .t-rasm {
                text-align: center;
                width: 240px;
                margin: 0 auto;

                h1 {
                    font-size: 14px;
                    line-height: 13px;
                }

                span {
                    font-size: 10px;
                }
            }
        }



        .buttun {
            margin-top: 40px;
            background-color: white;
            border-radius: 4px;
            width: 290px;
            height: 80px;

            text-align: center;

            button {
                width: 230px;
                height: 32px;
                background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
                border-radius: 4px;
                color: #fff;
                border: 0;
                margin: 25px 30px;
            }
        }

        .list {
            padding: 14px;
            margin-top: 20px;
            background: #FCFDFD;
            border-radius: 4px;

            .my {
                margin-bottom: 20px;
                border-bottom: 1px solid #f4f4f4;

                h5 {
                    margin-bottom: 20px;
                    font-size: 12px;
                    line-height: 11px;
                    text-transform: uppercase;
                }

                span {
                    margin-bottom: 20px;
                    font-size: 12px;
                    line-height: 11px;
                    text-align: right;
                    text-transform: uppercase;
                    color: #0275B1;

                }

            }

            .moscow {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                width: 231px;
                height: 80px;
                background: #FFFFFF;
                border: 1px solid #F4F4F4;
                box-sizing: border-box;
                padding: 15px;
                border-radius: 6px;

                .immg {
                    margin-right: 15px;

                }

                .ttex {
                    font-size: 14px;
                    line-height: 125%;
                }
            }

            .rod {
                display: flex;
                flex-wrap: wrap;

                span {
                    padding: 7px 12px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    background: #E9F0F8;
                    border-radius: 4px;

                }
            }

            .moscoww {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;

                .immmg {
                    margin-right: 10px;

                }


                h4 {
                    font-size: 14px;
                    line-height: 125%;
                }

                span {
                    font-size: 10px;
                    line-height: 150%;
                }
            }


        }



    }
}



.footer{
    width: 100%;
    height: 3335px;
    background-color: #000;

}